<h2>New Calendar</h2>

<div class="form">
  <form>
    <p><label for="name"> Name: </label></p>
    <p>{{input type="text" id="name" value=model.name}}</p>

    <p><label for="name"> Notes: </label></p>
    <p>{{textarea id="notes" value=model.notes}}</p>
    <p>
      {{#button class="btn btn-primary" action='save'}}Save{{/button}}
      {{#button class="btn" action='cancel'}}Cancel{{/button}}
    </p>
  </form>
</div>
